<HTML>
    <body>
        <p>Your order was successful!</p>
        <a href="/email/email" class="button">Email Confirmation</a>
        {{#if items}} 
        {{items.status}}
        {{/if}}
    </body>
</HTML>